// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.uploads__card {
    width: auto;
    max-width: 42em;
    position: relative;
    top: 5rem;
    margin: 0 auto;
    .btn {
        cursor: pointer;
    }
    // card header image
    .card-img-top {
        width: 12rem;
        margin: -2.6rem auto auto auto;
        display: block;
    }
    // footer styling
    &-footer {
        background-color: $card-footer;
        a {
            color: $gray-900;
        }
    }
}